.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: rem(40);
  row-gap: rem(20);

  @media (max-width: rem(900)) {
    flex-direction: column;
    row-gap: rem(40);
  }
}

.link {
  letter-spacing: -0.01em;
  position: relative;
  transition: color 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      color: var(--brand-color);
    }
  }
  &:focus {
    color: var(--brand-color);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: rem(-8);
    left: 50%;
    transform: translate(-50%, 0) scale(0);
    border-radius: 50%;
    background-color: var(--brand-color);
    width: em(8, 16);
    height: em(8, 16);
    transition: transform 0.3s ease 0s;
  }

  &.active {
    &::after {
      transform: translate(-50%, 0) scale(1);
    }
  }

  @media (max-width: rem(900)) {
    font-size: rem(18);

    &::after {
      width: em(10, 18);
      height: em(10, 18);
      bottom: rem(-10);
    }
  }
}
