#root {
  height: 100%;
}

.container {
  max-width: rem(1214);
  padding: 0 rem(15);
  margin: 0 auto;
}

.main-loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
