@use '@/styles/reset';

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --main: #191a15;
  --main-light: #fbfbfb;
  --brand-color: #54be96;
  --brand-color-hover: #36a379;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: rem(16);
  line-height: 1.25;
  color: var(--main);
  background-color: var(--main-light);
  overflow-wrap: break-word;
  min-width: rem(320);

  &.lock {
    overflow: hidden;
    touch-action: none;
  }
}

.brand-color {
  color: var(--brand-color);
}
